/* #################### css reset ################# */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    line-height: 1.7;
}


/* ####################### utility classes ################### */
.btn{
  background-color: #186e1b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 60px;
    
}


/* ###################### header styling ################### */
.header{
    position: relative;
    height: 50vh;
    background: url("/img/header-image2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/* ######################## navbar styling ###################### */

.header .navbar{
    display: flex;
    justify-content: center;
    height: 8vh;
    /* background-color: rgb(243, 240, 232); */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.878), rgb(247, 244, 244));

}

.header .nav-items{
    display: flex;
    max-width: 1200px;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.header .list-items{
    display: flex;
    width: 45%;
    justify-content: space-evenly;
}

.header .list-items .list-item{
    list-style: none;
}

.header .list-items .list-item a{
    text-decoration: none;
    color: black;
    font-size: large;
}

.header .logo{
    font-size: x-large;
    font-weight: 600;
}


/* ########################### header content styling ############## */

.header .header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.header .header-content p{
    margin-top: 10px;
    margin-bottom: 15px;
}

.header .header-content .btn a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.header .header-content .btn:hover{
    background-color: green;
}


/* ################## about section styling #################### */

.about{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.about-content{
    display: flex;
    max-width: 1200px;
    max-height: 75%;
    height: 75%;
    justify-content: space-between;
}

.about-content .about-info{
    max-width: 50%;
    padding: 20px;
}

.about-content .about-info h2{
    font-size: x-large;
    font-weight: 800;
}

.about-content .about-info .heading-about-us{
    font-weight: 600;
}

.about .about-content .img{
    max-width: 47%;
    width: 47%;
    background: url("../img/about-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-content .img img{
    max-width: 100%;
}



/* ####################### category section styling ################ */


.category{
    height: 60vh;
    display: flex;
    justify-content: center;
}

.category-content{
    display: flex;
    max-width: 1200px;
    width: 1200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.category .category-content .showcase{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
}


.category .category-content .showcase .img img{
    display: inline-block;
    width: 90%;
    margin-left: 20px;
}


/* ##################### food menu styling ####################### */

.food-menu{
    display: flex;
    justify-content: center;
}

.food-menu-content{
    max-width: 1200px;
    width: 1200px;
    height: 125vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.food-menu-content h1{
    font-size: xx-large;
}

.menu-showcase{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-between;
}

.menu-showcase .menu{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.menu-showcase .menu .img{
    height: 160px;
    width: 200px;
    border-radius: 50%;
    margin: 0 25px;
}

.menu-showcase .menu1 .img{
    background: url("/img/food-menu1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-showcase .menu2 .img{
    background: url("/img/food-menu2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-showcase .menu3 .img{
    background: url("/img/food-menu3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-showcase .menu4 .img{
    background: url("/img/food-menu4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-showcase .menu5 .img{
    background: url("/img/food-menu5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-showcase .menu6 .img{
    background: url("/img/food-menu6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ########################## testimonial styling ############################## */

.testimonial{
    display: flex;
    justify-content: center;
    background-color: #fbf6f6;
}

.testimonial-content{
    height: 57vh;
    max-width: 1200px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonial-showcase{
    display: flex;
    justify-content: space-between;
    height: 40vh;
}

.testimonial-showcase .testimonial{
    width: 30%; 
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.testimonial p{
    text-align: center;
}

.testimonial-showcase .testimonial .img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
}

.testimonial-showcase .testimonial .person1 .img{
    background: url("/img/male-photo1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonial-showcase .testimonial .person2 .img{
    background: url("/img/male-photo2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonial-showcase .testimonial .person3 .img{
    background: url("/img/male-photo3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* ######################### contact styling ##################### */

.contact{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;

}

.contact-content{
    width: 1200px;
    max-width: 1200px;
    display: flex;
    height: 60vh;
}

.contact .img{
    width: 50%;
    background: url(/img/restraunt-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-content .form{
    background-color: white;
    width: 50%;
    padding: 15px;
}

.contact-content .form h1{
    font-size: xx-large;
    font-weight: 400;
}

.contact-content .form input{
    display: block;
    width: 100%;
    height: 10%;
    border: 0px solid;
    border-bottom: 1px solid black;
    padding: 12px;
}

.contact-content .form textarea{
    display: block;
    width: 100%;
    margin-bottom: 18px;
    border: 0px solid;
    border-bottom: 1px solid black;
    padding: 12px;
}

.contact-content .form .btn{
    background-color: darkgreen;
}

.contact-content .form .btn:hover{
    background-color: green;
}

/* ######################### footer styling ################## */

.footer{
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}








