@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.heading-color{
    color: blue;
}

.bg-color{
    background-color: aqua;
}

.highlight{
    background-color: yellow;
}

